<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-8">
        <div class="mb-3">
          <label for="username" class="form-label">User name</label>
          <input
            type="text"
            class="form-control"
            placeholder="John adams"
            id="username"
            name="username"
            required
            minlength="5"
            #username="ngModel"
            [(ngModel)]="user.username"
          />
          <span
            class="text-danger"
            [hidden]="username.valid || username.pristine"
            >User name required</span
          >
 
        </div>

        <div class="mb-3">
          <label for="usermail" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="usermail"
            name="email"
            required
            placeholder="user@domain.com"
            [(ngModel)]="user.email"
            #email="ngModel"
          />
          <span
            class="text-danger"
            [hidden]="username.valid || username.pristine"
            >Email required</span
          >
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="email"
            class="form-control"
            id="password"
            name="password"
            required
            placeholder="password"
            [(ngModel)]="user.password"
            #password="ngModel"
          />
          <span
            class="text-danger"
            [hidden]="username.valid || username.pristine"
            >Password required</span
          >
        </div>
        <input
          class="btn btn-success"
          type="submit"
          value="Login"
          [disabled]="loginForm.invalid"
        />
      </div>
    </div>
  </div>
</form>
